* {
    box-sizing: border-box;
}

:root {
    --zonebg: #2e3440;

    --ff: 'Source Sans Pro', sans-serif;
    --fw-xlight: 200;
    --fw-light: 300;
    --fw-bold: 400;

    --fs-h1: 4.5em;
    --fs-h2: 1.25em;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),
        url(backgrounds/gc_day_horizontal_1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1rem;
}

header {
    text-align: center;
}

.container {
    background-color: var(--zonebg);
    color: white;
    display: inline-block;
    border-radius: 7px;
    margin-top: 15vh;
    margin-bottom: 5vh;
    padding: 0 100px;
    max-width: 500px;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-xlight);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-xlight);
}

.zone-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
    text-align: center;
}

@media (min-width: 600px) {
    .zone-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

.zone {
    background-color: var(--zonebg);
    border-radius: 10px;
    color: white;
    padding: 1rem;
    font-family: var(--ff);
    font-weight: var(--fw-bold);
}

.zone:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);   
}
